{% block content %}
	<div class="starter-template">
		<h1>Village Lighting Swing Chart</h1>
		<!-- TODO: Read data into a multi-dimensional array -->
		<script type="text/javascript">
				// Your beautiful D3 code will go here
				//Initializing window paramters
				var w = window.innerWidth*0.9;
				var h = window.innerHeight*0.8;

				var svg = d3.select("body")
					.append("svg")
					.attr("style", "display: block; margin: auto")
					.attr("width", w)   // <-- Here
					.attr("height", h); // <-- and here!

				//Create scaling for the data
				var xpadding = 0.1;
				var ypadding = 0.15;
				var xScale = d3.time.scale()
					.domain([new Date(1993, 0, 1), Date.now()])
					.range([2*w/15+w*xpadding, w*(1-xpadding)]);
				var yScale = [
					d3.scale.linear()
						.domain([0, 63])
						.range([h/3 - h/3*ypadding, h/3*ypadding]),
					d3.scale.linear()
						.domain([0, 63])
						.range([h*2/3 - h/3*ypadding, h/3+h/3*ypadding]),
					d3.scale.linear()
						.domain([0, 63])
						.range([h - h/3*ypadding, h*2/3+h/3*ypadding])
					];

				//Loading csv values====================================================


		</script>
	</div>
{% endblock %}
